.box1 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.article1,
.article2,
.article3,
.article4,
.article5,
.article6 {
    box-sizing: border-box;
    width: calc((100% - 32px) / 3);
    border: 2px solid black;
    padding: 20px;
}

.box2 {
    display: flex;
     gap: 16px;
}

.article1 h2,
.article2 h2,
.article3 h2,
.article4 h2,
.article5 h2,
.article6 h2 {
    font-family: "Playfair Display", serif;
}